<form class="contact" action="{{ path('contact_send') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.sender_name) }}
    {{ form_row(form.sender_mail) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.content) }}

    {{ form_rest(form) }}

    <input type="submit" id="kphoen_contact_submit" value="Envoyer" />
</form>
